
.cloud.left {
  top: 100px;
  width: 300px;
  height: 200px;
  left: 200px;
  position: absolute;
}

.cloud.right {
  top: 150px;
  right: 140px;
  width: 300px;
  height: 200px;
  position: absolute;
}


.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #b4e6f9;
  margin: 0 auto; 
}


.instructionsBasicGuide {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #b4e6f9;
  font-family: 'Gill Sans', sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.instructionsTitle {
  margin-bottom: -100px; 
}

.instructionsText {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1.2px 1.2px #483C32;
  font-family: 'Pacifico', cursive;
  
}

.instructionsTextContainer {
  opacity: 0;
  animation: fadeIn 2s forwards;
  color: #ffffff;
  text-shadow: 1.2px 1.2px #483C32;
  font-size: 1.2em;
  padding-bottom:100px;
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.instructionsTextLine {
  margin: 10px 0;
}

.spaceBar {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #4bae4e;
  font-size: 1em;
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  border-radius: 7px;
}

.spaceBarContainer {
  padding-left: 70px;
  font-size: 1.2em;
  margin-left: 8px;
  margin-right: 30px;
  max-width: 650px;
  letter-spacing: 2px;
  text-shadow: 1.1px 1.1px #483C32;
  font-family: 'Pacifico', cursive;
}

.gamePreviewPlaceholder1 {
  display: flex;
  width: 900px;
  height: 425px;
  background-color: #d6f5d6;
  border-radius: 15px;
  margin-right: 60px;
}





  


  
  
  
  
  