/* Tevel's Code */

/* Define font face for custom font */
@font-face {
  font-family: "Atlantis International";
  src: url("/fonts/AtlantisInternational-jen0.ttf") format('truetype');
}

/* Styling for the sky container */
.skyContainer {
  background: url('/background2.png') center center no-repeat; /* Background image */
  background-size: cover; /* Cover the entire container */
  margin-bottom: 20px; /* Bottom margin */
  padding-bottom: 130px; /* Bottom padding */
}

/* Styling for the bird */
.bird {
  transform: translateY(50px) translateX(80px) rotate(14deg); /* Initial position and rotation of the bird */
} 

/* Animation for bird floating */
.birdfloating {
  animation: floatAnimation 10s infinite linear; /* Properties for the floating animation */
}

/* Keyframes for floating animation */
@keyframes floatAnimation {
  0% {
    transform: translateY(0) translateX(0) rotate(-14deg); /* Initial position and rotation of the bird at the start of the animation */
  }
  25% {
    transform: translateY(-20px) translateX(50px) rotate(-20deg); /* Midway through the animation: bird moves up, right, and tilts */
  }
  50% {
    transform: translateY(0) translateX(100px) rotate(140deg); /* Halfway through the animation: bird moves right and tilts further */
  }
  75% {
    transform: translateY(20px) translateX(50px) rotate(-10deg); /* Three-quarters through the animation: bird moves down, right, and tilts */
  }
  100% {
    transform: translateY(0) translateX(0) rotate(140deg); /* At the end of the animation: bird returns to its initial position and rotation */
  }
}

/* Styling for instructions container */
.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto; /* Center the container horizontally */
}

/* Styling for basic guide in instructions */
.instructionsBasicGuide {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Atlantis International", sans-serif;
  color: #ffffff; /* White color */
  font-weight: bold;
}

/* Styling for instructions title */
.instructionsTitle {
  margin-bottom: -60px; /* Adjust margin for title */
}

/* Styling for instructions text */
.instructionsText {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff; /* White color */
  text-shadow: 1.2px 1.2px #483C32; /* Text shadow */
  font-family: "Atlantis International", sans-serif;
}

/* Styling for instructions text container */
.instructionsTextContainer {
  opacity: 0; /* Initial opacity */
  animation: fadeIn 2s forwards; /* Fade-in animation */
  color: #ffffff; /* White color */
  text-shadow: 1.2px 1.2px #483C32; /* Text shadow */
  font-size: 1.2em;
  padding-bottom: 100px; /* Bottom padding */
  font-family: "Atlantis International", sans-serif;
  letter-spacing: 2px; /* Letter spacing */
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Styling for instructions text line */
.instructionsTextLine {
  margin: 10px 0;
  font-family: "Atlantis International", sans-serif;
  font-size: 30px;
}

/* Styling for click text */
.click {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #ff7700; /* Orange color */
  font-size: 1em;
  color: #ffffff; /* White color */
  font-family: "Atlantis International";
}

/* Styling for click container */
.clickContainer {
  font-size: 1.2em;
  color:#ffffff; /* White color */
  max-width: 1500px; /* Maximum width */
  letter-spacing: 1.5px; /* Letter spacing */
  text-shadow: 1.1px 1.1px #483C32; /* Text shadow */
  font-family: "Atlantis International";
  padding-top: 20px; /* Top padding */
  padding-left: 20px; /* Left padding */
}

/* Styling for game preview 1 */
.gamePreview1 {
  width: 80%; /* Set width */
  height: 800px; /* Set height */
  background-color: #F9DC35; /* Yellow color */
  margin: 17px auto; /* Center horizontally */
  border-top-left-radius: 15px; /* Rounded corners */
  border-top-right-radius: 15px; /* Rounded corners */
  opacity: 0.8; /* Opacity */
}

/* Styling for game preview 2 */
.gamePreview2 {
  width: 80%; /* Set width */
  height: 100%; /* Set height */
  padding-bottom: 5px; /* Bottom padding */
  background-color: #FE9800; /* Orange color */
  margin: -22px auto; /* Center horizontally */
  border-bottom-left-radius: 15px; /* Rounded corners */
  border-bottom-right-radius: 15px; /* Rounded corners */
}





  


  
  
  
  
  