/* Tevel's Code */
@font-face {
  font-family: "Atlantis International";
  src: url("/fonts/AtlantisInternational-jen0.ttf") format('truetype');
}

.bird {
  /* Initial position and rotation of the bird */
  transform: translateY(100px) translateX(100px) rotate(15deg);
  
}

.birdfloating {
  /* Properties for the floating animation */
  animation: floatAnimation 40s infinite linear;
}

@keyframes floatAnimation {
  0%, 100% {
    /* Initial and final position of the bird */
    transform: translateY(120px) translateX(100px) rotate(15deg);
  }
  10%, 30%, 50%, 70%, 90% {
    /* Flying up and down */
    transform: translateY(10px) translateX(450px) rotate(5deg);
  }
  40%, 60%, 80% {
    /* Flying up and down */
    transform: translateY(140px) translateX(1000px) rotate(15deg);
  }
  20% {
    /* Flying backward */
    transform: translateY(10px) translateX(1000px) rotate(-5deg);
  }
  85% {
    /* Flying backward */
    transform: translateY(140px) translateX(1000px) rotate(-5deg);
  }
}

.forumPage {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  color: #ffffff;
  text-shadow: 1.2px 1.2px #483C32;
  font-family: "Atlantis International", sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  background: url('/background2.png') center center no-repeat;
  opacity: 0.8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 100px);
  overflow-x: hidden; 
  overflow-y: hidden; 
  margin-bottom: 20px;
}


.likeButton {
  background-color: #77DD77;
  margin-right: 5px;
  color: #000000;
  border: none;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-family: "Atlantis International", sans-serif;
  font-size: 20px;
}

.dislikeButton {
  background-color: #FF6961;
  color: #000000;
  margin: 5px;
  border: none;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-family: "Atlantis International", sans-serif;
  font-size: 20px;
  
}

.clearButton{
  font-family: "Atlantis International", sans-serif;
  font-size: 20px;
}

.commentContainer {
  margin-bottom: 20px;
}

.textareaContainer{
  width: 95%;
  height: 60px;
  margin-bottom: 10px;
  resize: none;
  transition: border-color 0.3s ease;
}

.textareaContainer textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  transition: border-color 0.3s ease;
}

.textareaContainer textarea:focus {
  border-color: #3498db;
}

.commentButton {
  background-color: #4bae4e;
  color: #fff;
  border: none;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  font-family: "Atlantis International", sans-serif;
  font-size: 20px;
}

.commentButton:hover {
  background-color: #2077b1;
}

.comments {
  display: flex;
  flex-direction: column;
  color: #333;
}

.comment {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.commentHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background-color: rgba(149, 149, 149, 0.3); /* Use rgba with the alpha channel (0.5 for 50% transparency) */
  padding: 10px;
}

.commentUser {
  font-weight: bold;
  margin-right: 8px;
  color:#2ecc71;
}

.replyButton {
  background-color: #232323;
  color: #fff;
  border: none;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-family: "Atlantis International", sans-serif;
  font-size: 20px;
}

.replyButton:hover {
  background-color: #2077b1;
}

.replyContainer {
  margin-top: 15px;
}

.replyTextarea {
  width: 95%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  resize: none;
  transition: border-color 0.3s ease;
}

.replyTextarea:focus {
  border-color: #2ecc71;
}

.replies {
  margin-top: 15px;
  margin-left: 20px;
}

.reply {
  padding: 8px;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

.replyButton:hover {
  background-color: #2077b1;
}