.parallax {
    background-image: url('/background2.png');
    height: 100vh; 
    background-attachment: fixed; /* parallex scrolling effect?? */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.frame {
    background-color: rgba(255, 255, 255, 0.75); /* White with 10% opacity */
    margin: 16px;
    padding: 16px;
    border-radius: 0px;
    /* Other styles as needed */
}


  .flappybirdfont {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    font-family: 'Gill Sans', sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: small;
  }
  

  .circularButton {
    border-radius: 0%;
    width: 50px;
    height: 50px;
    background-color: #000000;
  }