/* Tevels Code */
@font-face {
  font-family: "Atlantis International";
  src: url("/fonts/AtlantisInternational-jen0.ttf") format('truetype');
}

.navbar {
  display: flex;
  background-color: #4bae4e;
  overflow: hidden;
}

.navitem {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-family: "Atlantis International", sans-serif;
  font-size: 25px;
  font-weight: 1000;
}

.navitem:hover {
  background-color: #528a2c;
}


