.websiteContainer {
  background: url("/back.png") center center no-repeat;
  background-size: cover;
}

.background {
  position: relative;
  background-image: url("/sgback2.jpg");
  margin-left: auto;
  margin-right: auto;
  height: 660px;
  width: 525px;
  border-style: solid;
  border-width: 3.5px;
  overflow: hidden;
}

.death {
  position: relative;
  height: 525px;
  width: auto;
  margin-top: 50px;
  margin-left: auto;
  text-align: center;
}

.deathText {
  position: relative;
  top: 20px;
  font-family: fantasy;
  font-size: 30px;
  color:azure;
}

.againBtn {
  position: relative;
  top: 25px;
  color:crimson;
}

button {
  position: absolute;
  font-family: fantasy;
  font-size: 35px;
}

.startBtn {
  position: absolute;
  height: 10%;
  left: 31%;
  bottom: 45%;
  opacity: 0.8;
  z-index: 1;
}

.score {
  position: relative;
  text-align: center;
  font-family: fantasy;
  margin-top: 7%;
  font-size: 45px;
  ;
  z-index: 2;
}

.bird {
  position: absolute;
  height: 7%;
  left: 30%;
  width: auto;
  z-index: 0;
}

.upObstacle {
  position: absolute;
  height: 250px;
  width: auto;
  top: -0.2%;
  padding: 1px;
  z-index: 0;
}

.downObstacle {
  position: absolute;
  height: 250px;
  width: auto;
  bottom: -0.2%;
  padding: 1px;
}

.gameWindow {
  padding-top: 20px;
  padding-bottom: 70px;
}

